# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Project Specific
data/
models/
logs/
.env

# System
.DS_Store
Thumbs.db
temp_log.json
